<p>2019台灣腦瘤分割挑戰賽 </p>
<p>精準醫療人工智慧輔助決策系統<br /><br /></p>
<ol>
<li>比賽時間：2019-6-22(六)起至2019-08-30(五) , 成果發表會2018-08-31(六) </li>
<li>比賽發表地點: 台大醫院9樓外科會議室<br />台北市中山南路7號臨床研究大樓9樓</li>
<li>比賽任務簡介：主辦單位提供1700組腦瘤影像訓練資料，參賽者以深度學習之方法進行腫瘤定位、影像分割的模型訓練。</li>
<li>報名資格：每隊至多四人，其中至少有一人需為台灣在學學生，僅接受一百隊報名，額滿為止 (註一) </li>
<li>比賽流程:</li>
<ol>
<li>填報名資料</li>
<li>2019-6-22(六)起，帶切結書及參賽者身分證影本至臺大醫院找賽事聯絡人(註二) 以換取比賽訓練影像資料。資料包括: 1700組3D T1+C MRI (original images and labeled images, total 40GB)。因資料量較大，請帶筆電來較節省時間。</li>
<li>2019-7-1(一)統一提供評分網站及評分辦法</li>
<li>2019-8-1(四)統一提供所有參賽者 50組驗證資料，並接受結果上傳，即時更新排行榜</li>
<li>2019-8-29(四)停止更新排行榜。提供排行榜<strong>前十名</strong>參賽者100組測試資料。</li>
<li>2019-8-31(六)參賽者訓練成果發表(每隊5分鐘 訓練過程分享)</li>
</ol>
<li>成果發表會流程: <br />9:00~9:30 報到並交100組測試資料答案及簡報給評審<br />9:30~10:00評審驗證各隊成果及團隊交流時間(註三)<br />10:00 開始發表(5分鐘發表+評審公布成績 Dice score) <br /><strong>評審會用圖片(原圖/答案/預測)+算分的方式呈現(如下)</strong><br />12:00 頒獎典禮及大合照<br />獎項 第一名</li>
</ol>
<p>獎金2萬+價值1萬的NAS</p>
<p>獎項 第二名</p>
<p>獎金1萬+價值5000的NAS</p>
<p> 獎項 第三名</p>
<p>獎金5000+HDB301R 影像擷取盒<br />參加獎: 台大腦腫瘤分割挑戰賽之參賽證明一張及精美小禮物<br /><br /> <br />註一: 對報名資格有疑義者，請逕洽賽事聯絡人。為使賽事順利進行，主辦單位有權隨時調整比賽方式(如變更測試影像數量等)。</p>
<p>註二: 簽切結書旨在保護院內醫療影像之安全性,聲明此影像資料只能用於台大腦腫瘤分割挑戰賽使用</p>
<p>註三: IEI X QNAP獎品展示介紹區可供參觀<br /><br /></p>
<p>主辦單位：</p>
<p> 臺大醫神－精準醫療人工智慧輔助決策系統</p>
<p>協辦單位：</p>
<p> 臺大醫院電腦刀中心</p>
<p> 威強電工業電腦(IEI Integration Corp.)<br /> 威聯通科技(QNAP Systems, Inc.)<br /> <br /><br /></p>
<p>聯絡人：</p>
<p> 臺大醫院神經外科 蕭輔仁醫師<a href="mailto:xfr@dr.com">xfr@dr.com</a></p>
<p><br /><br /></p>
<p>----------</p>
<p>可能之 Platform</p>
<p>CrowdAI Codalab EvalAI</p>