<p>
	In addition to the terms and conditions signed by participants to access the data, following rules are applied:
</p>
<ol>
	<li>
		For the unsupervised and supervised phases of the challenge, participants can make only 1 submission per day
	</li>
	<li>
		For the final phase of the challenge, participants can make upto 5 submissions every day
	</li>
	<li>
		Evaluation metric and evaluation set can be changed at the discretion of the organizers at any time during the challenge
	</li>
	<li>
		Permissible number of submissions per day can be changed at the discretion of the organizers at any time during the challenge
	</li>
</ol>
