<p style="text-align: center;">切結書</p>
<p>立切結書人<span style="text-decoration: underline;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span> 參加臺大醫神-精準醫療人工智慧輔助決策系統舉辦之台大腦腫瘤分割挑戰賽，比賽訓練資料使用權屬於臺大醫院，係基於增進公共利益之研究目的所提供。此訓練資料限用於台大腦腫瘤分割挑戰賽，並遵守個資法等及相關法令規定，不得用在其他用途，特立此切結書，嗣後如經發現有不實情事，本人願負一切法律責任，並賠償所生損失。</p>
<p>立切結書人：</p>
<p>身份證字號：</p>
<p>聯絡電話:</p>
<p>&nbsp;</p>
<p>此致</p>
<p>2019台灣腦瘤分割挑戰賽</p>
<p>&nbsp;</p>
<p>主辦單位：</p>
<p>臺大醫神－精準醫療人工智慧輔助決策系統</p>
<p>&nbsp;</p>
<p>協辦單位：</p>
<div>
<div>三軍總醫院 神經外科部</div>
<div>
<div>
<div>長庚醫療財團法人 腦神經外科</div>
<div>
<div>
<div>威強電工業電腦(IEI Integration Corp.)</div>
<div>
<div>
<div>威聯通科技(QNAP Systems, Inc.)</div>
</div>
</div>
</div>
</div>
<div>&nbsp;</div>
</div>
</div>
</div>
<p>中華民國&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 年&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 月&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 日</p>